.labelStyle{
    -fx-font-size: 12px;
    -fx-font-weight:normal;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.root {
     -fx-background-image: url("../imagens/background.jpg");
}

.estiloBotoes{
	-fx-background-insets: 0 0 0 0, 2, 0, 0;
    -fx-background-radius: 0 0 0 0, 0, 0, 0;
}

.btnOK{
	-fx-graphic: url('../imagens/checked21.png');
}

.btnCancelar{
	-fx-graphic: url('../imagens/exit18.png');
}

#botaoCarregar{ 
	-fx-graphic: url('../imagens/document247.png');
	-fx-background-repeat: no-repeat;
}
#painelSuperior{
	/**-fx-border-style: solid;
	-fx-border: 5px;
	-fx-border-color: gray; **/
}
#botaoSelecionarImagem{ 
	-fx-graphic: url('../imagens/downloading26.png');
}

#botaoConfirmarRetorno{ 
	-fx-graphic: url('../imagens/checked21.png');
}

#botaoVisualizar{ 
	-fx-graphic: url('../imagens/show6.png');
}

#botaoSair{ 
	-fx-graphic: url('../imagens/exit18.png');
}

#btnContaReduzida{
	-fx-graphic: url('../imagens/document247.png');
	-fx-height:5px;
}

#edtContaReduzida{
	-fx-text-transform: uppercase;
}

.table-column {
  -fx-alignment: CENTER_RIGHT;
}
 
.button:hover {
   -fx-background-color: 
        #666,
        linear-gradient(#666 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}  

.button  {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
 
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
 
#colunaMotivo{
	-fx-alignment: center-left;
}
#colunaVisualizarNomeSacador{
	-fx-alignment: center-left;
} 
#colSituacaoImg{
	-fx-alignment: center;
}

#colSeuNro{
	-fx-alignment: center-right;
} 

#label{
	-fx-font-weight: bold;
}

.btnConfiguracao{  
	-fx-background-color: transparent;
	-fx-background-image: url('../imagens/config.png'); 
	-fx-background-size:25px;
	-fx-width:10px;
}

.btnConfiguracao:hover{  
	-fx-background-color: transparent;
	-fx-background-image: url('../imagens/config_hover2.png'); 
	-fx-background-size:25px;
	-fx-width:10px;
}